# Logs
npm-debug.log

# Pipeline and SCM Files
.gitignore
.github

# Configuration files
.editorconfig
.eslintrc.js
.nvmrc
tsconfig.json

LICENSE

# Tests
coverage
*.test.ts

# Documentation
examples
docs

# Source files
src

# Dependencies
node_modules
